/results/
*.out
/build/
/cmake-build-*/
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.pch
*.pdb
*.exp
*.ilk
CMakeFiles/
CMakeCache.txt
compile_commands.json
.env/
.venv/
.envrc
.DS_Store
.ipynb_checkpoints/
__pycache__/
.mypy_cache/