/results/
*.out
/build/
/build-debug/
!/build/vcpkg.json
!/build/vcpkg-configuration.json
/cmake-build-*/
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.pch
*.pdb
*.exp
*.ilk
CMakeFiles/
CMakeCache.txt
compile_commands.json
.env/
.venv/
.envrc
.DS_Store
.ipynb_checkpoints/
__pycache__/
.mypy_cache/
/vcpkg_installed/
*.png
*.svg
*.pdf
!/docs/figs/*.svg
*.out
python/__pycache__/
*.csv
/tmp/
.vscode/
*.bin
ToDo.md
/build_slurm_tmp/
.cache/
.clangd/
.clangd